<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,user-scalable=yes,initial-scale=1.0,maximum-scale=3.0" />
    <link type="text/css" rel="stylesheet" href="/static/pc.css" />
    <title>管理 - 参議院押しボタン投票集計</title>
  </head>
  <body>

<header>
  <h1>管理</h1>
</header>

<h2 class="link"><a href="abrv">会派略称</a></h2>
<h2 class="link"><a href="abrvguide">会派略称標準</a></h2>
<h2 class="link"><a href="param">設定</a></h2>
<h2 class="link"><a href="/job/kickfetch" target="_blanc">取得実行</a></h2>
<h2 class="link"><a href="/job/kickabrv" target="_blanc">会派略称更新</a></h2>
<h2 class="link"><a href="/job/kickcalc" target="_blanc">再集計実行</a></h2>

<footer>
  <div id="copyright">Copyright 2011 Michinobu Maeda.</div>
</footer>

  </body>
</html>
